.baler_STAR {
	color: gray;
}

.baler_HOST {
	color: red;
}

.baler_ENG {
	color: blue;
}

.PtnTable, .PtnTable ul {
	list-style: none;
	margin-left: 0;
	padding: 0;
}

.PtnTable {
	width: 50%;
}

.GrpLstEnt_Name {
	background-color: cadetblue;
	color: white;
}

.GrpLstEnt_Name:hover {
	background-color: red;
}

.GrpLstEnt {
	border: solid;
	border-color: white;
	border-width: 1px;
}

.PtnLstEnt {
	background-color: white;
}

.PtnLstEnt:hover {
	background-color: lightgray;
}

.NewRow {
	background-color: lightpink;
}

.HeatMapDisp {
	float: left;
}

.HeatMapFillerDiv {
	clear: left;
	float: left;
	/* -- DEBUG --
	border: solid;
	border-color: green;
	border-width: 1px;
	/**/
}

.HeatMapDispCtrl {
	padding: 10px;
}

.HeatMapLayer {
    /* image-rendering: optimizeSpeed; */
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    /* image-rendering: optimize-contrast; */
}

.baler_Labels {
	position: relative;
	float: left;
	/* -- DEBUG --
	border: solid;
	border-color: red;
	border-width: 1px;
	/**/
}

.baler_Labels span {
	position: absolute;
}

.ColorPicker input[type=range] {
    -webkit-appearance: none;
    appearance: none;
    height: 3px;
    background: -webkit-gradient(linear, left top, right top,
        color-stop(0%, rgba(255, 0, 0, 1)),
        color-stop(16%, rgba(255, 255, 0, 1)),
        color-stop(32%, rgba(0, 255, 0, 1)),
        color-stop(48%, rgba(0, 255, 255, 1)),
        color-stop(64%, rgba(0, 0, 255, 1)),
        color-stop(80%, rgba(255, 0, 255, 1)),
        color-stop(96%, rgba(255, 0, 0, 1))
    );
    vertical-align: middle;
}

.ColorBox {
	padding-right: 1em;
}

.ColorPicker input[type=range]::-moz-range-track {
    height: 3px;
    background: -moz-linear-gradient(0deg,
        rgba(255, 0, 0, 1) 0%,
        rgba(255, 255, 0, 1) 16%,
        rgba(0, 255, 0, 1) 32%,
        rgba(0, 255, 255, 1) 48%,
        rgba(0, 0, 255, 1) 64%,
        rgba(255, 0, 255, 1) 80%,
        rgba(255, 0, 0, 1) 96%
    );
    vertical-align: middle;
}
