.baler_STAR {
	color: gray;
}

.baler_HOST {
	color: red;
}

.baler_ENG {
	color: blue;
}

.PtnTable, .PtnTable ul {
	list-style: none;
	margin-left: 0;
	padding: 0;
}

.PtnTable {
	width: 50%;
}

.GrpLstEnt_Name {
	background-color: cadetblue;
	color: white;
}

.GrpLstEnt_Name:hover {
	background-color: red;
}

.GrpLstEnt {
	border: solid;
	border-color: white;
	border-width: 1px;
}

.PtnLstEnt {
	background-color: white;
}

.PtnLstEnt:hover {
	background-color: lightgray;
}

.NewRow {
	background-color: lightpink;
}

.HeatMapDisp {
	float: left;
}

.HeatMapFillerDiv {
	clear: left;
	float: left;
	/* -- DEBUG --
	border: solid;
	border-color: green;
	border-width: 1px;
	/**/
}

.HeatMapDispCtrl {
	padding: 10px;
}

.baler_Labels {
	position: relative;
	float: left;
	/* -- DEBUG --
	border: solid;
	border-color: red;
	border-width: 1px;
	/**/
}

.baler_Labels span {
	position: absolute;
}
