[submodule "util/libevent"]
	path = util/libevent
	url = gitlab@gitlab.opengridcomputing.com:ovis/libevent.git
[submodule "sos"]
	path = sos
	url = https://github.com/opengridcomputing/SOS.git
[submodule "gpcd-support"]
	path = gpcd-support
	url = https://github.com/ovis-hpc/gpcd.git
