/.version
.deps*
*~
*.o
*.lo
cscope*
*.la
autom4te.cache*
.libs
config.h
config.log
Makefile
Makefile.in
/configure
/build*
/config.h.in
/config.status
/ovis-ldms-config.h
install-sh
/libtool
ltmain.sh
missing
compile
py-compile
/stamp-h1
/SHA.txt

aclocal.m4
libtool.m4
ltoptions.m4
ltsugar.m4
ltversion.m4
lt~obsolete.m4
*doxygen*
*.pyc
*.swp
