.deps*
*~
*.o
*.lo
cscope*
*.la
autom4te.cache*
.libs
config.h
config.log
Makefile
Makefile.in
configure
build*
config.h.in
config.guess
config.sub
depcomp
install-sh
ltmain.sh
missing
compile
py-compile

aclocal.m4
libtool.m4
ltoptions.m4
ltsugar.m4
ltversion.m4
lt~obsolete.m4
*doxygen*
*.pyc
*.swp
