#
# Example of centrally defining ports and timing on a multi-cluster
# aggregation host. Each cluster has its own daemon for level two on
# host milly. The set of clusters is managed by the CAPVIZ team.
#
# This contains includable logic common to all aggregators that tweaks by target.
# Ports on milly need to be consistently defined and timing needs to 
# not produce NIC contention.
# The variable ALL_PICKY can be set to make the failure to match a configured
# host fatal.

# in order of who aggregates first. used in other utility scripts, not here.
clusterlist="skybridge chama serrano solo uno ghost doom eclipse hazel cts1x"

# cluster csv ldmsds start at 413 (411, 412 reserved for milly)
# web serving ldmsds start at 453 eventually
# job serving ldmsds start at 473 eventually
# coll serving ldmsds start at 493 eventually
case $LDMSCLUSTER in 
milly)
	export MILLY_PORT=411
	;;
agg)
	export MILLY_AGG_PORT=412
	;;
solo)
	export CAPVIZ_AGG_PORT=413
	;;
chama)
	export CAPVIZ_AGG_PORT=414
	;;
skybridge)
	export CAPVIZ_AGG_PORT=415
	;;
serrano)
	export CAPVIZ_AGG_PORT=416
	;;
uno)
	export CAPVIZ_AGG_PORT=417
	;;
ghost)
	export CAPVIZ_AGG_PORT=418
	;;
cts1x)
	export CAPVIZ_AGG_PORT=419
	;;
doom)
	export CAPVIZ_AGG_PORT=420
	;;
eclipse)
	export CAPVIZ_AGG_PORT=421
	;;
hazel)
	export CAPVIZ_AGG_PORT=422
	;;
*)
	if test -n "$ALL_PICKY"; then
		echo "PORT: unset for $LDMSCLUSTER in ldmsd.all_instances.conf"
		exit 1
	fi
esac



# timing on a shared network link needs to be consistent and noncontending.
# current schedule is 2 second gap between clusters. larger may need longer.
base_interval=60000000
# max offset is 29999999
case $LDMSCLUSTER in
solo)
	export CAPVIZ_AGG_INTERVAL=$base_interval
	export CAPVIZ_AGG_OFFSET=8200000
	;;
chama)
	export CAPVIZ_AGG_INTERVAL=$base_interval
	export CAPVIZ_AGG_OFFSET=4200000
	;;
skybridge)
	export CAPVIZ_AGG_INTERVAL=$base_interval
	export CAPVIZ_AGG_OFFSET=2200000
	;;
serrano)
	export CAPVIZ_AGG_INTERVAL=$base_interval
	export CAPVIZ_AGG_OFFSET=6200000
	;;
uno)
	export CAPVIZ_AGG_INTERVAL=$base_interval
	export CAPVIZ_AGG_OFFSET=10200000
	;;
ghost)
	export CAPVIZ_AGG_INTERVAL=$base_interval
	export CAPVIZ_AGG_OFFSET=12200000
	;;
cts1x)
	export CAPVIZ_AGG_INTERVAL=$base_interval
	export CAPVIZ_AGG_OFFSET=18200000
	;;
doom)
	export CAPVIZ_AGG_INTERVAL=$base_interval
	export CAPVIZ_AGG_OFFSET=14200000
	;;
eclipse)
	export CAPVIZ_AGG_INTERVAL=$base_interval
	export CAPVIZ_AGG_OFFSET=16200000
	;;
hazel)
	export CAPVIZ_AGG_INTERVAL=$base_interval
	export CAPVIZ_AGG_OFFSET=16200000
	;;
*)
	if test -n "$ALL_PICKY"; then
		echo "TIMING: unset for $LDMSCLUSTER in ldmsd.all_instances.conf"
		exit 1
	fi
esac
