Makefile
Makefile.in
config.log
config.status
configure
Doxyfile
docs/html/
docs/latex/
docs/man/
install-sh
missing
autom4te.cache/
aclocal.m4
*.swp
*.lo
*.o
*.la
tags
libtool
ltmain.sh
depcomp
config.guess
config.sub
.deps/
.libs/
cscope.out
balerd
build/
examples/rsyslog_tcp/rsyslog_tcp_test
swig/*.c
swig/*.so
