# This file contains environment variables for ldmsd.sampler, which will affect
# ldmsd initial configuration (e.g. transport, named socket path)

# LDMS transport option (sock, rdma, or ugni)
LDMSD_XPRT=ugni
# LDMS Daemon service port
LDMSD_PORT=412

# LDMS memory allocation
LDMSD_MEM=2G

# Number of event threads
LDMSD_NUM_THREADS=4

LDMSD_ULIMIT_NOFILE=100000

LDMSD_VERBOSE=CRITICAL

# Log file control. The default is to log to syslog.
# LDMSD_LOG_OPTION="-l /var/log/ldmsd.log"

# Authentication method
LDMSD_AUTH_PLUGIN=ovis

# Authentication options
LDMSD_AUTH_OPTION="-A conf=/opt/ovis/etc/ldms/ldmsauth.conf"

LDMSD_PLUGIN_CONFIG_FILE=/opt/ovis/etc/ldms/aggregator.conf

# These are configured by configure script, no need to change.
LDMSD_PLUGIN_LIBPATH=/opt/ovis/lib64/ovis-ldms
ZAP_LIBPATH=/opt/ovis/lib64/ovis-lib

# uGNI
# Use this if running on a Cray XC
# Need to set up a user PTag first
ZAP_UGNI_PTAG=0
ZAP_UGNI_COOKIE=0x81bb0000


# For zap_ugni, Use this if running on a Cray XC
ZAP_UGNI_STATE_INTERVAL=10000000
ZAP_UGNI_STATE_OFFSET=0
ZAP_UGNI_UNBIND_TIMEOUT=5
ZAP_UGNI_DISCONNECT_EV_TIMEOUT=60
ZAP_UGNI_CQ_DEPTH=4096
