action mail_admin = /home/narate/projects/OVIS/komondor/src/test/mail.sh narate@ogc.us
action shutdown = /home/narate/projects/OVIS/komondor/src/test/shutdown.sh
rule {model_id = 1, metric_id = *, severity = [2..3]}: mail_admin
rule {model_id = *, metric_id = *, severity = *}: /home/narate/projects/OVIS/komondor/src/test/log.sh
rule {model_id = 2, metric_id = 2, severity = 3}: shutdown
rule {model_id = *, metric_id = 1, severity = *}: mail_admin
