mapred.Queue:maps_killed	S32
mapred.Queue:reduces_killed	S32
mapred.Queue:jobs_failed	S32
mapred.Queue:reduces_completed	S32
mapred.Queue:running_0	S32
mapred.Queue:reduces_failed	S32
mapred.Queue:jobs_completed	S32
mapred.Queue:reserved_map_slots	S32
mapred.Queue:waiting_maps	S32
mapred.Queue:running_1440	S32
mapred.Queue:maps_completed	S32
mapred.Queue:jobs_preparing	S32
mapred.Queue:jobs_submitted	S32
mapred.Queue:reserved_reduce_slots	S32
mapred.Queue:jobs_running	S32
mapred.Queue:running_300	S32
mapred.Queue:maps_launched	S32
mapred.Queue:reduces_launched	S32
mapred.Queue:running_60	S32
mapred.Queue:waiting_reduces	S32
mapred.Queue:jobs_killed	S32
mapred.Queue:maps_failed	S32
ugi.ugi:loginFailure_num_ops	S64
ugi.ugi:loginSuccess_num_ops	S64
ugi.ugi:loginSuccess_avg_time	D
ugi.ugi:loginFailure_avg_time	D
rpcdetailed.rpcdetailed:getBuildVersion_avg_time	D
rpcdetailed.rpcdetailed:getProtocolVersion_avg_time	D
rpcdetailed.rpcdetailed:getVIVersion_num_ops	S64
rpcdetailed.rpcdetailed:getBuildVersion_num_ops	S64
rpcdetailed.rpcdetailed:getProtocolVersion_num_ops	S64
rpcdetailed.rpcdetailed:getSystemDir_avg_time	D
rpcdetailed.rpcdetailed:getSystemDir_num_ops	S64
rpcdetailed.rpcdetailed:heartbeat_num_ops	S64
rpcdetailed.rpcdetailed:heartbeat_avg_time	D
rpcdetailed.rpcdetailed:getVIVersion_avg_time	D
rpc.rpc:rpcAuthorizationSuccesses	S32
rpc.rpc:SentBytes	S64
rpc.rpc:rpcAuthorizationFailures	S32
rpc.rpc:ReceivedBytes	S64
rpc.rpc:NumOpenConnections	S32
rpc.rpc:callQueueLen	S32
rpc.rpc:RpcQueueTime_num_ops	S64
rpc.rpc:rpcAuthenticationSuccesses	S32
rpc.rpc:RpcProcessingTime_num_ops	S64
rpc.rpc:RpcProcessingTime_avg_time	D
rpc.rpc:rpcAuthenticationFailures	S32
rpc.rpc:RpcQueueTime_avg_time	D
jvm.metrics:memHeapCommittedM	F
jvm.metrics:logFatal	S64
jvm.metrics:gcCount	S64
jvm.metrics:threadsBlocked	S32
jvm.metrics:threadsWaiting	S32
jvm.metrics:logWarn	S64
jvm.metrics:logError	S64
jvm.metrics:memNonHeapCommittedM	F
jvm.metrics:memNonHeapUsedM	F
jvm.metrics:gcTimeMillis	S64
jvm.metrics:logInfo	S64
jvm.metrics:memHeapUsedM	F
jvm.metrics:threadsNew	S32
jvm.metrics:threadsTerminated	S32
jvm.metrics:threadsTimedWaiting	S32
jvm.metrics:threadsRunnable	S32
mapred.jobtracker:blacklisted_maps	S32
mapred.jobtracker:running_maps	S32
mapred.jobtracker:jobs_failed	S32
mapred.jobtracker:waiting_maps	S32
mapred.jobtracker:maps_completed	S32
mapred.jobtracker:trackers	S32
mapred.jobtracker:jobs_submitted	S32
mapred.jobtracker:map_slots	S32
mapred.jobtracker:reserved_reduce_slots	S32
mapred.jobtracker:trackers_graylisted	S32
mapred.jobtracker:heartbeats	S64
mapred.jobtracker:jobs_running	S32
mapred.jobtracker:blacklisted_reduces	S32
mapred.jobtracker:maps_launched	S32
mapred.jobtracker:occupied_map_slots	S32
mapred.jobtracker:reduces_launched	S32
mapred.jobtracker:maps_failed	S32
mapred.jobtracker:jobs_killed	S32
mapred.jobtracker:maps_killed	S32
mapred.jobtracker:reduce_slots	S32
mapred.jobtracker:reduces_killed	S32
mapred.jobtracker:reduces_completed	S32
mapred.jobtracker:trackers_decommissioned	S32
mapred.jobtracker:jobs_completed	S32
mapred.jobtracker:reduces_failed	S32
mapred.jobtracker:reserved_map_slots	S32
mapred.jobtracker:trackers_blacklisted	S32
mapred.jobtracker:jobs_preparing	S32
mapred.jobtracker:running_reduces	S32
mapred.jobtracker:occupied_reduce_slots	S32
mapred.jobtracker:waiting_reduces	S32
metricssystem.MetricsSystem:publish_num_ops	S64
metricssystem.MetricsSystem:snapshot_num_ops	S64
metricssystem.MetricsSystem:publish_stdev_time	D
metricssystem.MetricsSystem:sink.file.latency_avg_time	D
metricssystem.MetricsSystem:num_sinks	S32
metricssystem.MetricsSystem:snapshot_imax_time	D
metricssystem.MetricsSystem:publish_min_time	D
metricssystem.MetricsSystem:sink.ldms.qsize	S32
metricssystem.MetricsSystem:sink.ldms.latency_avg_time	D
metricssystem.MetricsSystem:publish_imax_time	D
metricssystem.MetricsSystem:snapshot_avg_time	D
metricssystem.MetricsSystem:sink.file.latency_num_ops	S64
metricssystem.MetricsSystem:dropped_pub_all	S64
metricssystem.MetricsSystem:num_sources	S32
metricssystem.MetricsSystem:publish_max_time	D
metricssystem.MetricsSystem:sink.ldms.latency_num_ops	S64
metricssystem.MetricsSystem:snapshot_stdev_time	D
metricssystem.MetricsSystem:sink.ldms.dropped	S32
metricssystem.MetricsSystem:publish_imin_time	D
metricssystem.MetricsSystem:snapshot_min_time	D
metricssystem.MetricsSystem:snapshot_imin_time	D
metricssystem.MetricsSystem:publish_avg_time	D
metricssystem.MetricsSystem:snapshot_max_time	D
metricssystem.MetricsSystem:sink.file.qsize	S32
metricssystem.MetricsSystem:sink.file.dropped	S32
