ugi.ugi:loginFailure_num_ops	S64
ugi.ugi:loginSuccess_num_ops	S64
ugi.ugi:loginSuccess_avg_time	D
ugi.ugi:loginFailure_avg_time	D
jvm.metrics:memHeapCommittedM	F
jvm.metrics:logFatal	S64
jvm.metrics:gcCount	S64
jvm.metrics:threadsBlocked	S32
jvm.metrics:threadsWaiting	S32
jvm.metrics:logWarn	S64
jvm.metrics:logError	S64
jvm.metrics:memNonHeapCommittedM	F
jvm.metrics:memNonHeapUsedM	F
jvm.metrics:gcTimeMillis	S64
jvm.metrics:logInfo	S64
jvm.metrics:memHeapUsedM	F
jvm.metrics:threadsNew	S32
jvm.metrics:threadsTerminated	S32
jvm.metrics:threadsTimedWaiting	S32
jvm.metrics:threadsRunnable	S32
dfs.namenode:AddBlockOps	S32
dfs.namenode:fsImageLoadTime	S32
dfs.namenode:JournalTransactionsBatchedInSync	S32
dfs.namenode:FilesRenamed	S32
dfs.namenode:FileInfoOps	S32
dfs.namenode:CreateFileOps	S32
dfs.namenode:GetListingOps	S32
dfs.namenode:Transactions_num_ops	S64
dfs.namenode:Syncs_avg_time	D
dfs.namenode:GetBlockLocations	S32
dfs.namenode:blockReport_num_ops	S64
dfs.namenode:Syncs_num_ops	S64
dfs.namenode:FilesInGetListingOps	S32
dfs.namenode:SafemodeTime	S32
dfs.namenode:Transactions_avg_time	D
dfs.namenode:FilesDeleted	S32
dfs.namenode:FilesCreated	S32
dfs.namenode:FilesAppended	S32
dfs.namenode:DeleteFileOps	S32
dfs.namenode:blockReport_avg_time	D
dfs.FSNamesystem:ScheduledReplicationBlocks	S64
dfs.FSNamesystem:BlocksTotal	S64
dfs.FSNamesystem:CapacityTotalGB	S32
dfs.FSNamesystem:CapacityUsedGB	S32
dfs.FSNamesystem:CapacityUsed	S64
dfs.FSNamesystem:ExcessBlocks	S64
dfs.FSNamesystem:StaleDataNodes	S32
dfs.FSNamesystem:MissingBlocks	S64
dfs.FSNamesystem:PendingReplicationBlocks	S64
dfs.FSNamesystem:FilesTotal	S64
dfs.FSNamesystem:CapacityUsedNonDFS	S64
dfs.FSNamesystem:CapacityRemainingGB	S32
dfs.FSNamesystem:CapacityRemaining	S64
dfs.FSNamesystem:UnderReplicatedBlocks	S64
dfs.FSNamesystem:TotalLoad	S32
dfs.FSNamesystem:CapacityTotal	S64
dfs.FSNamesystem:PendingDeletionBlocks	S64
dfs.FSNamesystem:CorruptBlocks	S64
dfs.FSNamesystem:BlockCapacity	S32
rpcdetailed.rpcdetailed:addBlock_avg_time	D
rpcdetailed.rpcdetailed:rollFsImage_num_ops	S64
rpcdetailed.rpcdetailed:register_num_ops	S64
rpcdetailed.rpcdetailed:versionRequest_num_ops	S64
rpcdetailed.rpcdetailed:getListing_num_ops	S64
rpcdetailed.rpcdetailed:sendHeartbeat_num_ops	S64
rpcdetailed.rpcdetailed:blocksBeingWrittenReport_avg_time	D
rpcdetailed.rpcdetailed:create_avg_time	D
rpcdetailed.rpcdetailed:mkdirs_avg_time	D
rpcdetailed.rpcdetailed:delete_num_ops	S64
rpcdetailed.rpcdetailed:blockReport_num_ops	S64
rpcdetailed.rpcdetailed:create_num_ops	S64
rpcdetailed.rpcdetailed:getEditLogSize_num_ops	S64
rpcdetailed.rpcdetailed:rollEditLog_num_ops	S64
rpcdetailed.rpcdetailed:rollFsImage_avg_time	D
rpcdetailed.rpcdetailed:mkdirs_num_ops	S64
rpcdetailed.rpcdetailed:delete_avg_time	D
rpcdetailed.rpcdetailed:addBlock_num_ops	S64
rpcdetailed.rpcdetailed:getFileInfo_avg_time	D
rpcdetailed.rpcdetailed:getProtocolVersion_avg_time	D
rpcdetailed.rpcdetailed:getListing_avg_time	D
rpcdetailed.rpcdetailed:rollEditLog_avg_time	D
rpcdetailed.rpcdetailed:blockReceived_avg_time	D
rpcdetailed.rpcdetailed:getEditLogSize_avg_time	D
rpcdetailed.rpcdetailed:getFileInfo_num_ops	S64
rpcdetailed.rpcdetailed:register_avg_time	D
rpcdetailed.rpcdetailed:setPermission_num_ops	S64
rpcdetailed.rpcdetailed:sendHeartbeat_avg_time	D
rpcdetailed.rpcdetailed:complete_avg_time	D
rpcdetailed.rpcdetailed:versionRequest_avg_time	D
rpcdetailed.rpcdetailed:complete_num_ops	S64
rpcdetailed.rpcdetailed:blockReceived_num_ops	S64
rpcdetailed.rpcdetailed:setSafeMode_avg_time	D
rpcdetailed.rpcdetailed:getProtocolVersion_num_ops	S64
rpcdetailed.rpcdetailed:setSafeMode_num_ops	S64
rpcdetailed.rpcdetailed:blocksBeingWrittenReport_num_ops	S64
rpcdetailed.rpcdetailed:blockReport_avg_time	D
rpcdetailed.rpcdetailed:setPermission_avg_time	D
rpc.rpc:rpcAuthorizationSuccesses	S32
rpc.rpc:SentBytes	S64
rpc.rpc:rpcAuthorizationFailures	S32
rpc.rpc:ReceivedBytes	S64
rpc.rpc:NumOpenConnections	S32
rpc.rpc:callQueueLen	S32
rpc.rpc:RpcQueueTime_num_ops	S64
rpc.rpc:rpcAuthenticationSuccesses	S32
rpc.rpc:RpcProcessingTime_num_ops	S64
rpc.rpc:RpcProcessingTime_avg_time	D
rpc.rpc:rpcAuthenticationFailures	S32
rpc.rpc:RpcQueueTime_avg_time	D
metricssystem.MetricsSystem:publish_num_ops	S64
metricssystem.MetricsSystem:snapshot_num_ops	S64
metricssystem.MetricsSystem:publish_stdev_time	D
metricssystem.MetricsSystem:sink.file.latency_avg_time	D
metricssystem.MetricsSystem:num_sinks	S32
metricssystem.MetricsSystem:snapshot_imax_time	D
metricssystem.MetricsSystem:publish_min_time	D
metricssystem.MetricsSystem:sink.ldms.qsize	S32
metricssystem.MetricsSystem:sink.ldms.latency_avg_time	D
metricssystem.MetricsSystem:publish_imax_time	D
metricssystem.MetricsSystem:snapshot_avg_time	D
metricssystem.MetricsSystem:sink.file.latency_num_ops	S64
metricssystem.MetricsSystem:dropped_pub_all	S64
metricssystem.MetricsSystem:num_sources	S32
metricssystem.MetricsSystem:publish_max_time	D
metricssystem.MetricsSystem:sink.ldms.latency_num_ops	S64
metricssystem.MetricsSystem:snapshot_stdev_time	D
metricssystem.MetricsSystem:sink.ldms.dropped	S32
metricssystem.MetricsSystem:publish_imin_time	D
metricssystem.MetricsSystem:snapshot_min_time	D
metricssystem.MetricsSystem:snapshot_imin_time	D
metricssystem.MetricsSystem:publish_avg_time	D
metricssystem.MetricsSystem:snapshot_max_time	D
metricssystem.MetricsSystem:sink.file.qsize	S32
metricssystem.MetricsSystem:sink.file.dropped	S32
