ugi.ugi:loginFailure_num_ops	S64
ugi.ugi:loginSuccess_num_ops	S64
ugi.ugi:loginSuccess_avg_time	D
ugi.ugi:loginFailure_avg_time	D
jvm.metrics:memHeapCommittedM	F
jvm.metrics:logFatal	S64
jvm.metrics:gcCount	S64
jvm.metrics:threadsBlocked	S32
jvm.metrics:threadsWaiting	S32
jvm.metrics:logWarn	S64
jvm.metrics:logError	S64
jvm.metrics:memNonHeapCommittedM	F
jvm.metrics:memNonHeapUsedM	F
jvm.metrics:gcTimeMillis	S64
jvm.metrics:logInfo	S64
jvm.metrics:memHeapUsedM	F
jvm.metrics:threadsNew	S32
jvm.metrics:threadsTerminated	S32
jvm.metrics:threadsTimedWaiting	S32
jvm.metrics:threadsRunnable	S32
mapred.tasktracker:tasks_failed_timeout	S32
mapred.tasktracker:failedDirs	S32
mapred.tasktracker:reduces_running	S32
mapred.tasktracker:reduceTaskSlots	S32
mapred.tasktracker:maps_running	S32
mapred.tasktracker:tasks_completed	S32
mapred.tasktracker:mapTaskSlots	S32
mapred.tasktracker:tasks_failed_ping	S32
rpc.rpc:rpcAuthorizationSuccesses	S32
rpc.rpc:SentBytes	S64
rpc.rpc:rpcAuthorizationFailures	S32
rpc.rpc:ReceivedBytes	S64
rpc.rpc:NumOpenConnections	S32
rpc.rpc:callQueueLen	S32
rpc.rpc:RpcQueueTime_num_ops	S64
rpc.rpc:rpcAuthenticationSuccesses	S32
rpc.rpc:RpcProcessingTime_num_ops	S64
rpc.rpc:RpcProcessingTime_avg_time	D
rpc.rpc:rpcAuthenticationFailures	S32
rpc.rpc:RpcQueueTime_avg_time	D
mapred.shuffleOutput:shuffle_success_outputs	S32
mapred.shuffleOutput:shuffle_handler_busy_percent	D
mapred.shuffleOutput:shuffle_output_bytes	S64
mapred.shuffleOutput:shuffle_failed_outputs	S32
mapred.shuffleOutput:shuffle_exceptions_caught	S32
metricssystem.MetricsSystem:publish_num_ops	S64
metricssystem.MetricsSystem:snapshot_num_ops	S64
metricssystem.MetricsSystem:publish_stdev_time	D
metricssystem.MetricsSystem:sink.file.latency_avg_time	D
metricssystem.MetricsSystem:num_sinks	S32
metricssystem.MetricsSystem:snapshot_imax_time	D
metricssystem.MetricsSystem:publish_min_time	D
metricssystem.MetricsSystem:sink.ldms.qsize	S32
metricssystem.MetricsSystem:sink.ldms.latency_avg_time	D
metricssystem.MetricsSystem:publish_imax_time	D
metricssystem.MetricsSystem:snapshot_avg_time	D
metricssystem.MetricsSystem:sink.file.latency_num_ops	S64
metricssystem.MetricsSystem:dropped_pub_all	S64
metricssystem.MetricsSystem:num_sources	S32
metricssystem.MetricsSystem:publish_max_time	D
metricssystem.MetricsSystem:sink.ldms.latency_num_ops	S64
metricssystem.MetricsSystem:snapshot_stdev_time	D
metricssystem.MetricsSystem:sink.ldms.dropped	S32
metricssystem.MetricsSystem:publish_imin_time	D
metricssystem.MetricsSystem:snapshot_min_time	D
metricssystem.MetricsSystem:snapshot_imin_time	D
metricssystem.MetricsSystem:publish_avg_time	D
metricssystem.MetricsSystem:snapshot_max_time	D
metricssystem.MetricsSystem:sink.file.qsize	S32
metricssystem.MetricsSystem:sink.file.dropped	S32
