name: Test "make dist"

on:
  push:
    branches: [ OVIS-4 ]
  pull_request:
    branches: [ OVIS-4 ]

jobs:
  build:

    runs-on: ubuntu-18.04

    steps:
    - run: sudo apt install gettext
    - name: cython
      run: sudo pip3 install Cython
    - uses: actions/checkout@v2
    - name: autogen
      run: sh autogen.sh
    - name: configure
      run: ./configure
    - name: make dist
      run: make dist
